
<% if( r =='student'){ %>
  <%- include('./header.ejs') %> 

  <% }else{ %>
    <%- include('./admin/header.ejs') %> 
      <% } %>

    <br>
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <h1>gffd</h1> -->
    <div class="container">
        <div class="row">


            <div class="col-md-4 mt-4">

                <h2 class=""
                    style="font-weight: bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Contact Us</h2>
                <p class="mb-3 "><span><i class="fa-solid fa-house"></i></span> &nbsp; Gole ka mandir,
                    Station road</p>

                <p class="mb-3 "><span><i class="fa-solid fa-envelope"></i></span> &nbsp;
                    admissionmits@gmail.com </p>
                <p class="mb-3 "><span><i class="fa-solid fa-phone"></i></span> &nbsp; +91 8871482503 </p>
                <p class="mb-3 "><span><i class="fas fa-print"> </i></span> &nbsp; +91 8871482503 </p>

            </div>
            <div class="col-md-4 mt-4">
                <div class="">
                  <div class="">
    
                    <h2 class="mb-3" style="font-weight: bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Opening hours</h2>

                    <p class="mb-3 "><span>Mon - Thu:</span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8am - 9pm</p>
                    <hr class="">
    
                    <p class="mb-3 "><span>Fri - Sat:</span> &nbsp; &nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8am - 1pm</p>
                    <hr class="">
                    <p class="mb-3 "><span>Sunday:</span> &nbsp; &nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9am - 10pm</p>
                    <hr class=" font-weight-bold">
    
    
                  </div>
                  <!-- div col-md-4 end -->
                </div>
                <!-- div col-md-4 end -->
              </div>

              <div class="col-md-4  mt-4">
                 <h2 class="tex-center" style="font-weight: bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Map Location</h2>
                   
                 <iframe width="300px" height="300px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.9679721489224!2d78.20457707463252!3d26.230230189087983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c14c64938e5f%3A0x87b3d6a725f7b077!2sMadhav%20Institute%20of%20Technology%20%26%20Science%2C%20Gwalior!5e0!3m2!1sen!2sin!4v1693128537559!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </div>
    </div>


    <%- include('./footer.ejs') %>