<footer>
    <div class="container-fluid mt-4 bg-danger">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mt-4  ">
            <img src="/image\download-removebg-preview.png" width="300px" alt="">
          
            <div class="isize ">
              <a style="color:pink"  href="https://www.facebook.com/MitsMadhavIstituteOfTechnologyScienceGwalior/" target="_blank" > <i class="fa-brands fa-facebook px-2"></i></a>
              <a style="color:pink"  href="https://twitter.com/mits_gwalior?lang=en" target="_blank" > <i class="fa-brands fa-twitter  px-2"></i></a>
             
             <a  style="color:pink" href="https://www.linkedin.com/company/mits-madhav-institute-of-technology-&-science-gwalior-estd-1957/?originalSubdomain=in" target="_blank" > <i class="fa-brands fa-linkedin px-2"></i></a>
             <a  style="color:pink" href="https://www.instagram.com/mits_gwalior/?hl=en" target="_blank">   <i class="fa-brands fa-instagram px-2"></i></a>
             
            </div>
              
           
          </div>
          <!-- div col-md-4 end -->

          <div class="col-md-4 mt-4">
            <div class="mt-4">
              <div class="mt-4">

                <h2 class="text-white">Contact Us</h2>
                <p class="mb-3 text-white"><span><i class="fa-solid fa-house"></i></span> &nbsp; Gole ka mandir,
                  Station road</p>

                <p class="mb-3 text-white"><span><i class="fa-solid fa-envelope"></i></span> &nbsp;
                  admissionmits@gmail.com </p>
                <p class="mb-3 text-white"><span><i class="fa-solid fa-phone"></i></span> &nbsp; +91 8871482503 </p>
                <p class="mb-3 text-white"><span><i class="fas fa-print"> </i></span> &nbsp; +91 8871482503 </p>

              </div>
              <!-- div col-md-4 end -->
            </div>
            <!-- div col-md-4 end -->
          </div>
          <!-- div col-md-4 end -->
          <div class="col-md-4 mt-4">
            <div class="mt-4">
              <div class="mt-4">

                <h2 class="text-white">Opening hours</h2>
                <p class="mb-3 text-white"><span>Mon - Thu:</span>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8am - 9pm</p>
                <hr class="text-white">

                <p class="mb-3 text-white"><span>Fri - Sat:</span> &nbsp; &nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8am - 1pm</p>
                <hr class="text-white">
                <p class="mb-3 text-white"><span>Sunday:</span> &nbsp; &nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9am - 10pm</p>
                <hr class="text-white font-weight-bold">


              </div>
              <!-- div col-md-4 end -->
            </div>
            <!-- div col-md-4 end -->
          </div>
          <!-- div col-md-4 end -->
          <!-- div col-md-4 end -->

        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </div>
    <!-- container fluid end -->

    <div class="container-fluid bg-dark">
       <p class="text-white text-center wri">Admission Portal| Website host By Nikhil Sahu</p>
    </div>
  </footer>
</body>

</html>